* {
    font-size: 16px;
  }

  .parenr_grid {
    font-size: 2rem;
    /* в два раза больше чем корневой елемент 2*16 = 32px */
  }
  .parent {
    font-size: 2em;
  }
  .child {
    font-size: 2em;
  }
hgfkytfluygliug
